@model IEnumerable<PierwszProjektWeb.Models.Ksiazka>

@{
    ViewBag.Title = "Radek";
}

<h2>Radek</h2>

<div>
    <table class="table table-bordered">
        <tr>
            <th>Nazwa</th>
            <th>Autor</th>
            <th>Rok</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazwa</td>
                <td>@item.Autor</td>
                <td>@item.Rok</td>
            </tr>
        }
    </table>
</div>